{% extends 'base.html' %}
{% block content %}
<h1>Call CGI-File API (valid commands(hellow, time))</h1>
CGI file live url - https://blooming-tor-05996.herokuapp.com/cgi-bin/hello.py
<form action="." method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
    <h2>Response: {{ sent }}</h1>
</form>
{% endblock content %}